<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlz.andexts">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.AndExtsFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
